.first {
   height: 600px;
   background-color: #F06C64;
}
.slaider {
   padding: 30px;
   position: relative;
   top: 40px;
   left: 20%;
}
@media (max-width: 680px) {
   img {
      max-width: 88%;
      max-height: 40%;
      
   }
   .slaider {
      position: relative;
      left: 2px;
   }
}
@media (max-width: 1020px) {
   img {
      max-width: 70%;
      max-height: 50%;}
      .slaider {
         position: relative;
         left: 5px;
      }
      .first {
         display: block;
         height: 400px;
      }
         
      
}
      /*Вторая часть second*/
      .second {
         width: 100vw;
         height: 100wv;
         background-color: white;
      }