.first {
   height: 600px;
   background-color: #F06C64;
}
.slaider {
   padding: 30px;
   position: relative;
   top: 40px;
   left: 20%;
}
@media (max-width: 680px) {
   img {
      max-width: 88%;
      max-height: 40%;
      
   }
   .slaider {
      position: relative;
      left: 2px;
   }
}
@media (max-width: 1020px) {
   img {
      max-width: 70%;
      max-height: 50%;}
      .slaider {
         position: relative;
         left: 5px;
      }
      .first {
         display: block;
         height: 400px;
      }
         
      
}
      /*Вторая часть second*/
      .second {
         width: 100vw;
         height: 100wv;
         background-color: white;
      }
      .consequat {
         font-weight: 900;
         color: #666D89;
         text-align: justify;
         margin: 40px;
      }

      .grid-container {
         display: grid;
         grid-template-columns: auto auto auto auto auto auto;
         justify-content: center;
         column-gap: 20px;
         row-gap: 20px;
         color: #666D89;
         font-weight: 400;
         font-size: 16px;
         padding: 30px 80px 30px 80px;
         z-index: -1;/*меню second разбивает*/
      }
         