article {
   height: 600px;
   background-color: #F06C64;
}
.slaider {
   padding: 30px;
   position: relative;
   top: 40px;
   left: 20%;
}
@media (max-width: 680px) {
   img {
      max-width: 88%;
      max-height: 40%;
      
   }
}